// Colors

$main-bg: #fff;
$additive-bg: #3498DB;
$additive-bg-dark: #033A5F;
$secondary: #0984E3;
$third: #FFEAA7;
$third-bright: #FF6530;

$shadow-gray: #C7C7C7;
$main-gray: #AEAEAE;


// Sizing
$default-radius: 15px;


$mobile-width: 601px;
$laptop-width: 993px;
