// Colors

$main-bg: #fff;
$additive-bg: #3498DB;
$additive-bg-dark: #033A5F;
$additive-bg-dark-hover: #064d7c;
$secondary: #0984E3;
$third: #FFEAA7;
$third-bright: #FF6530;

$shadow-gray: #C7C7C7;
$main-gray: #AEAEAE;


// Other

$default-transition: .4s;


// Sizing
$default-radius: 15px;

$mobile-width: 601px;
$laptop-width: 993px;


/// footer
$footer-padding-top: 59px;
$footer-padding-bottom: 64px;

$footer-border-color: rgba(255,255,255,.2);
$footer-text-color: rgba(255,255,255,.5);


// Brands colors
$vk-main: #0077ff;
