.sub-header {
  border-bottom: 1px solid #{$shadow-gray};

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__list {
    flex: 1;
  }

  &__right-block {
    //align-self: flex-end;
  }
}

.sub-header-right-block {
  &__search {

  }
}

.sub-header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;

  &__text {

  }
}


.sub-header-items {
  display: flex;
  flex-direction: row;
  margin: 4px 0;
}

.sub-header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;

  &:first-child {
    padding-left: 0;
  }

  &__button {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    font-size: 8pt;

    &--visually {
      background-color: #{$shadow-gray};
      border-radius: #{$default-radius};

      &:hover {
        background-color: #{$shadow-gray};
      }
    }

    & > i {
      font-size: 18pt !important;
    }
  }

  &:not(:last-child) {
    border-right: 2px solid #{$shadow-gray};
  }
}

